#canvas {
margin-left: 20%;
margin-top: 1%;
}

#canvas {
    margin-left: 20%;
    margin-top: 4%;
    border-radius: 2%;
    border: 3px solid black;
}

#life{
    display: flex;
    position: absolute;
    margin-left: 20%;
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}

#monsterLife1{
    display: flex;
    position: absolute;
    margin-left: 40%;
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#monsterLife2{
    display: flex;
    position: absolute;
    margin-left: 60%;
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#monsterLife3{
    display: flex;
    position: absolute;
    margin-left: 80%;
    margin-top: 1%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#inventory{
    display: flex;
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#inList{
    display: flex;
    flex-direction:column ;
}

#shop{
    display: flex;
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#selectedElement{
    display: flex;
    position: absolute;
    margin-left: 20%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type : none;
  }